<!DOCTYPE html>
<html>

<head>

    <title>FinFlow Payment</title>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <style>

        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 80px;
        }


        button {

            padding: 12px 30px;

            font-size: 18px;

            cursor: pointer;

            background: black;

            color: white;

            border-radius: 8px;

            border: none;

        }


        button:hover {

            opacity: 0.8;

        }

    </style>

</head>


<body>


<h2>FinFlow Checkout</h2>

<p>
    Secure Razorpay Payment
</p>


<button id="pay-btn">
    Pay Now
</button>



<script>


const options = {


    // Razorpay Test Key
    key: "{{ razorpay_key_id }}",



    // Amount in paise
    amount: "{{ amount }}",



    currency: "{{ currency }}",



    name: "FinFlow",



    description:
        "Payment for FinFlow",



    order_id:
        "{{ razorpay_order_id }}",



    method: {

        upi: true,

        card: true,

        netbanking: true,

        wallet: true

    },



    handler: function(response){


        console.log(
            "Payment Success:",
            response
        );



        fetch(
            "/payments/verify",
            {

                method: "POST",


                headers: {

                    "Content-Type":
                    "application/json"

                },


                body: JSON.stringify({

                    razorpay_order_id:
                    response.razorpay_order_id,


                    razorpay_payment_id:
                    response.razorpay_payment_id,


                    razorpay_signature:
                    response.razorpay_signature

                })

            }

        )

        .then(res => res.json())


        .then(data => {


            console.log(
                "Verification Response:",
                data
            );


            alert(
                data.message
            );


            window.location.reload();


        })


        .catch(error => {


            console.error(
                "Verification Error:",
                error
            );


            alert(
                "Payment verification failed"
            );


        });


    },



    modal: {


        ondismiss: function(){


            console.log(
                "Payment popup closed"
            );


        }

    }

};




const rzp = new Razorpay(options);



// Payment failure event

rzp.on(
    "payment.failed",
    function(response){


        console.log(
            "Payment Failed:",
            response
        );


        alert(
            "Payment Failed"
        );


    }
);




document
.getElementById("pay-btn")
.onclick = function(e){


    rzp.open();


    e.preventDefault();


};


</script>


</body>

</html>